Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7
Mako==0.8.1
MarkupSafe==0.18
PyYAML==3.10
SQLAlchemy==0.8.2
WTForms==1.0.4
Werkzeug==0.9.3
Whoosh==2.5.1
alembic==0.6.0
argparse==1.2.1
-e git://github.com/seatgeek/fuzzywuzzy.git@1ab66a3d70e18e754f6760a34acacafebcffecad#egg=fuzzywuzzy-master
itsdangerous==0.22
nltk==2.0.4
psycopg2==2.5.1
wsgiref==0.1.2
