{% extends "layout.html" %}
{% block head %}
<title>Menu Scout: explore by categories</title>
{% endblock %}
{% block content %}
<h2>Explore by Food Categories</h2>
<p>Note: categorization of menu items is an experimental feature. Some classification terms
	may not be accurate. You can report these to menuscout AT gmail.com.</p>
<table class="table">
	<thead>
		<td width="35%">Category (click on name to see all items)</td><td>Sample items</td>
	</thead>
	<tbody>
		{% for category in results %}
		<tr>
			<td>
			<a href="../category/{{ category[0].lower() }}">{{ category[0] }}</a></td>
			<td><ul>
				{% for dish in category[1] %}
				<li><a href="../item/{{ dish.id }}">{{ dish.name}}</a>
				{% endfor %}
				<li><a href="../category/{{ category[0].lower() }}">more...</a></li>
			</ul></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block footer %}
{% endblock %}