<!DOCTYPE html>
<html>
  <head>
    <title>Historic Menus OMG</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var decadeList = {{ decade_list|safe }};
        var data = google.visualization.arrayToDataTable(
          decadeList
          );

        var options = {
          title: 'Menu Count by Decade',
          hAxis: {title: 'Decade', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <p>Explore the New York Public Library's "What's on the Menu dataset"</p>
    <h2>Current Stats</h2>
    <ul>
      <li>Total menu items: {{ item_total }}</li>
      <li>Total menus: {{ menu_total }}</li>
      <li>Total unique restaurants: {{ restaurant_total }}</li>
    </ul> 
       <div id="chart_div" style="width: 1200px; height: 500px;"></div>
    <h2>Ways to Explore</h2>
    <ul>
    <li>Search by keyword in descriptions of menu items</li>
    <li>Search by keyword in restaurant names</li>
    <li><a href="./explore_decades">Browse menus by decade</a></li>
    <li><a href="./explore_techniques">Browse menu items by cooking techniques</a></li>
    <li><a href="./explore_categories">Browse menu items by category</a></li>
  </ul>

    <h3>Random menu item from the collection</h3>
    <p><a href="./item/{{ random_item.id }}">{{ random_item.description }}</a></p>
    <h3>Random menu from the collection</h3>
    <p><a href="./menu/{{ random_menu.id }}">{{ random_menu.restaurant.name }}, {{ random_menu.date.year }}/{{ random_menu.date.month }}/{{ random_menu.date.day }}</a></p>
    <h3>Random menu item from the collection</h3>
    <p><a href="./restaurant/{{ random_restaurant.id }}">{{ random_restaurant.name }}</a></p>
    <p><a href="./about">More information about the menu project</a></p>
  </body>
</html>