<!DOCTYPE html>
<html>
  <head>
    <title>Historic Menus OMG</title>
    <h1>Item details for {{ item.description }} (item #{{ item.id }})</h1>
    <p>Category: [See other items in this category]</p>
    <p>Technique: [See other items with this techique</p>
    <p>Year of first appearance:</p>
    <p>Year of latest appearance:</p>
    <p>Lowest price:</p>
    <p>Highest price:</p>
    <h2>Menus on which this dish appears</h2>
    <p>[list of menus goes here]
    <h2>Other similar items in the collection</h2>
    <p>[list of similar items goes here]</p>
    <h2>Items which frequently appear on menus with this one</h2>:
    <p>[list of items goes here]
    <h3>chart with this item's appearances on menus over time?</h3>
  </body>
</html>