{% extends "layout.html" %}
{% block head %}
<title>Menu Scout: item details</title>
{% endblock %}
{% block content %}
    <h2>Item details for {{ item.name }} (item #{{ item.id }})</h2>
    <p>Categories:</p>
        <ul> 
            {% for category in categories %}
                <li><a href="../category/{{ category }}">{{ category }}</a></li>
            {% endfor %}
    </ul>
    <p>Technique(s):</p>
    <ul> 
        {% for technique in techniques %}
            <li><a href="../technique/{{ technique }}">{{ technique }}</a></li>
        {% endfor %}

    </ul>
    <p>Date of first appearance: {{ item.firstdate }}</p>
    <p>Date of latest appearance: {{ item.latest_datestring }} </p>
    <p>Lowest price: ${{ item.prices[0] }} </p>
    <p>Highest price: ${{ item.prices[-1] }}</p>
    <h3>Menus on which this dish appears ({{ count }} total):</h3>
    <ul>
    {% for menu in menus %}
        <li><a href="../menu/{{ menu.id }}">{{ menu.restaurant.name }}. {{ menu.datestring }}</a></li>
    {% endfor %}
    </ul>
    <h3>Possible similar items in the collection</h3>
    <p>Matching similar items is an experimental feature, so you might see some odd matches.</p>
        <ul>
        {% for s in similarities %}
            {% if s == 'no similar items found' %}
                <li>{{ s }}</li>
            {% else %}
                <li class="list-group-item"><a href="../item/{{ s.id }}">{{ s.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
{% endblock %}
