<!DOCTYPE html>
<html>
  <head>
    <title>Historic Menus OMG</title>
    <h1>Menu details for menu #{{ menu.id }}</h1>
    <p>{{ menu.restaurant.name }}, {{ menu.date.year }}/{{ menu.date.month }}/{{ menu.date.day }}
    <h2>Items on this menu</h2>
    <p>[item list goes here]</p>
    <h2>Other menus close to this date</h2>
    <p>[list goes here]</p>
    <h2>Other menus from the same restaurant</h2>
    <p>[list goes here]</p>
    <h2>Other similar menus in the collection
   	<p>[list goes here]</p>
  </body>
</html>