{% extends "layout.html" %}
{% block head %}
<title>Menu Scout: restaurant details</title>
{% endblock %}
{% block content %}
    <h1>Restaurant details for {{ restaurant.name }}</h1>
    <p>Location info: {{ restaurant.location }}</p>
<!--     <p>Earliest menu date: {{ menus[0].datestring }}</p>
    <p>Latest menu date: {{ menus[-1].datestring }}</p> -->
    <h2>Menus from this restaurant ({{ count }} total):</h2>
    <ul>
    {% for menu in menus %}
        <li><a href="../menu/{{ menu.id }}">{{ menu.datestring }}</a></li>
    {% endfor %}
    </ul>
    <h2>Other similar restaurants in the collection:</h2>
    <p>[list goes here]</p>
{% endblock %}
