{% extends "layout.html" %}
{% block head %}
<title>Menu Scout: technique details </title>
{% endblock %}
{% block content %}
<h2>Technique details: '{{ technique }}'</h2>
<p>Note: categorization of menu items by technique is an experimental feature. Some techniques
	assigned to items may not be accurate. You can report these to menuscout AT gmail.com.</p>
<h3>Items with this technique ({{ count }} total):</h3>
<p>(click to see item details)</p>
<ul class="list-group">
{% for item in dishes %}
    <li class="list-group-item"><a href="../item/{{ item.id }}">{{ item.description }}</a></li>
{% endfor %}
</ul>
{% endblock %}
{% block footer %}
{% endblock %}